# Vercel
.vercel

# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Environment variables (local development)
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
